<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="bscv-wrapper">
        <canvas id="bscv-canvas" width="1280" height="720">canvas not supported!</canvas>
    </div>
</body>
</html>
