body {
    background-color: #111111;
}

#bscv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bscv-canvas {
    display: block;
    margin: 50px 50px 50px 50px;
    background-color: #222222;
}
