body {
    background-color: #111111;
}

#bscv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bscv-canvas {
    display: block;
    margin: 10px 50px;
    background-color: #222222;
}

#bscv-output {
    padding: 1em;
    min-width: 32em;
    min-height: 6lh;
    font-size: 14px;
    background-color: #222222;
    color: #dddddd;
}
